<datastore>
    <dictionaries_lib_path>/etc/datastore-server/config.d/dictionaries_lib</dictionaries_lib_path>
    <logger>
        <level>trace</level>
        <log>/var/log/datastore-server/log.log</log>
        <errorlog>/var/log/datastore-server/log.err.log</errorlog>
        <size>1000M</size>
        <count>10</count>
        <stderr>/var/log/datastore-server/stderr.log</stderr>
        <stdout>/var/log/datastore-server/stdout.log</stdout>

        <library_bridge_log>/var/log/datastore-server/datastore-library-bridge.log</library_bridge_log>
        <library_bridge_errlog>/var/log/datastore-server/datastore-library-bridge.err.log</library_bridge_errlog>
        <library_bridge_level>trace</library_bridge_level>
    </logger>
</datastore>
