<datastore>

    <logger>
        <level>trace</level>
        <log>/var/log/datastore-server/datastore-server.log</log>
        <errorlog>/var/log/datastore-server/datastore-server.err.log</errorlog>
        <size>1000M</size>
        <count>10</count>
    </logger>

    <http_port>8123</http_port>
    <listen_host>127.0.0.1</listen_host>

    <path>./datastore/</path>
    <users_config>users.xml</users_config>
</datastore>
